
        
        .general{
            display: grid;
            grid-template-columns: auto;
            grid-template-rows: auto auto auto auto;
            background-color: lightgray;
            border: 1px solid black;
            padding: 10px;
            
            grid-row-gap: 10px;
        }

        .container1{
            background-color: lightgray;
            border: 1px solid black;
        }

        .container2{
            display: grid;
            grid-template-columns: auto auto auto;
            grid-template-rows: auto;
            grid-column-gap: 20px;

            background-color: yellow;
            border: 1px solid black;
            padding: 10px;
        }
            #21 {
                display: grid;
            }
            #22 {
                display: grid;
            }

            #23 {
                display: grid;
            }

        .container3{
            display: grid;
            grid-template-columns: auto auto;
            grid-template-rows: auto;

            background-color:#f4eda2;
            border: 2px solid black;
            padding: 10px;

        }

        .c31{
            display: grid;
            grid-template-columns: auto;
            grid-template-rows: auto auto;
            grid-row-gap: 5px;
        }

        .c32{
            display: grid;
            grid-template-columns: auto;
            grid-template-rows: auto auto;
            grid-row-gap: 5px;
                
        }

        .container4{
            display: grid;
            grid-template-columns: auto auto;
            grid-template-rows: auto;

            grid-row-gap: 10px;
            grid-column-gap: 10px;

            background-color:#f4e4a3;
            border: 2px solid black;
            padding: 10px;
        }

        .container5{
            display: grid;
            grid-template-columns: auto auto auto;
            grid-template-rows: auto;

            background-color: yellow;
            border: 1px solid black;
            padding: 10px;

            grid-column-gap: 20px;
        }

        .c52{
            display: grid;
            grid-template-columns: auto;
            grid-template-rows: auto auto auto;

            grid-row-gap: 10px;
        }

        /*#53{
            display: grid;
            grid-template-columns: auto;
            grid-template-rows: auto auto auto;

            grid-row-gap: 20px;
        }*/


                
        /* A:link {
            color: #0033CC;
            text-decoration: none
        }

        A:visited {
            color: #993300;
            text-decoration: none
        }

        A:hover {
            color: #000066;
            text-decoration: none;
            background-color: lightgrey
        }

        .link {
            text-decoration: none;
        } */
